* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/Marvel\ superheroes\ wallpaper\ hd\ \ \ SF\ Wallpaper.jpg");
  background-size: cover;

  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-wrap: wrap;
}

main {
  height: auto;
  width: 60vw;
  margin: 9rem auto;
  border: rgb(243, 8, 8) solid 2px;
  border-radius: 5px;
  background-color: azure;
  position: relative;
}

#auto-complete {
  max-height: 300px;
  overflow-y: auto;
}

#auto-complete li {
  color: black;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
}

#searchList {
  color: rgb(97, 248, 3);
  z-index: 1;
  position: relative;
  top: 0;
  margin-top: -1.5%;
}

#searchList li {
  width: auto;
  cursor: pointer;
}
#searchContainer {
  max-height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  height: auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.img {
  display: flex;
  justify-content: center;
}
.img img {
  height: 400px;
  width: auto;

  /* border: 1px rgb(74, 212, 50) solid; */
}

.details {
  height: auto;
  width: auto;

  color: rgba(240, 248, 255, 0);
  font-weight: bold;
  overflow-y: auto;
  /* padding-left: 15px; */
}

#powerstats {
  color: gold;
}

#bio {
  color: rgb(224, 238, 70);
}

#favbtn {
  display: none;
}

#logo {
  color: aliceblue;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
  .img img {
    display: flex;
    justify-content: center;
    height: 300px;
    width: auto;
    margin: 0 auto;
  }

  .details {
    height: auto;
    width: auto;
    padding-left: 15px;
  }
}
